@tailwind base;
@tailwind components;
@tailwind utilities;
[x-cloak] {
    display: none !important;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #374151; /* gray-700 */
    border-radius: 9999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #4b5563; /* gray-600 */
}

.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #374151 transparent;
}
